:root {
  --background: #22272e;
  --text: #768390;
  --lightAccent: #2c343f;
  --lightText: #adbac7;

  --font: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font);
}

::-webkit-scrollbar {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--lightAccent);
}

.github {
  position: fixed;
  bottom: 5px;
  right: 10px;
  font-size: 33px;
  color: var(--text);
}

.github:hover {
  color: var(--lightText);
}